* {
  font-family: "Raleway";
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}
/***************************************************************** TITRES et TEXTES */
/* TEXT type: SECTION */
.search__title,
.results__title,
.activities__title {
  margin: 4px 0;
  font-weight: 700;
  font-size: 22px;
}
.popular__title {
  margin: 4px 0;
  font-weight: 700;
  font-size: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* TEXT type : FILTRE */
.filtres__title,
.results__footer {
  margin: 4px 0;
  font-weight: 700;
  font-size: 18px;
}
/* TITRE type : CARD */
.card-result__body__place,
.card-popular__body__place,
.footer-liens__title {
  margin: 4px 0;
  font-weight: 700;
  font-size: 16px;
}
.card-activity__place {
  margin: 4px 0;
  font-weight: 700;
  font-size: 16px;
  margin: 15px;
}
/* TEXT Type: INFORMATION */
.search__description,
.filtres__details,
.card-result__body__price,
.card-popular__body__price {
  margin: 4px 0;
  font-weight: 400;
  font-size: 16px;
}
/***************************************************************** HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header__logo {
  width: 60px;
  height: 20px;
}
/*  NAVIGATION */
.header__nav {
  height: 90px;
}
.nav-main__menu {
  list-style: none;
  margin: 0px;
  height: 100%;
  display: flex;
}
.nav-main__menu__item {
  margin: 0px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #ffffff;
}
.nav-main__menu__lien {
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-main__menu__lien:hover {
  color: #0065fc;
}
.nav-main__menu__item:hover {
  border-top: 2px solid #0065fc;
}
/***************************************************************** MAIN */
.main {
  display: flex;
  flex-direction: column;
}
/***************************************************************** SEARCH  */
.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
/*  .search__title ==> TITRE */
/*  .search__description ==> TITRE */
/* FORM */
.search__form {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 20px 0;
  height: 50px;
  width: 100%;
}
.search__form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 50px;
  height: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
}
.search__form__input {
  width: 100%;
  max-width: 300px;
  height: 100%;
  border: 1px solid #f2f2f2;
  padding-left: 15px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}
.search__form__input::placeholder {
  color: black;
}
.search__form__btn {
  display: flex;
  align-items: center;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
}
.search__form__btn__style {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin: 0px 10px;
}
.search__form__btn__style--desktop {
  display: block;
}
.search__form__btn__style--phone {
  display: none !important;
}
/* FILTER */
.search__filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* ICI ==> .filtres__title */
.filtres__list {
  display: flex;
  flex-wrap: wrap;
  flex: content;
  padding: 0;
  margin-left: 15px;
  gap: 10px;
}
.filtres__list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.filtres__list-item:hover {
  background-color: #deebff;
}
.filtres__item-icon {
  color: #0065fc;
  margin-right: 15px;
}
/* DETAILS RECHERCHE */
.search__details {
  display: flex;
  align-items: center;
}
.search__details__icon {
  color: #0065fc;
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
}
/***************************************************************** DIV ACCOMMADATION */
.accommodation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/*****************************************************************  SECTION RESULTS */
.results {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px;
  background: #d9d9d9;
  flex-basis: 66%;
}
/* .results__title ==> TITRE*/
.results__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}
.card-result {
  background: #ffffff;
  box-shadow: 8px 8px 15px rgb(214, 214, 214);
  border-radius: 20px;
  padding: 5px;
  flex-basis: 30%;
  flex-grow: 1;
  min-width: 240px;
}
.card-result__click {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-result__head {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  height: 60%;
  max-height: 110px;
}
.card-result__body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
/* .card-result__body__place ==> TITRE */
/* .card-result__body__price ==> TITRE */
/* .star + star--full ==> STARS  */
/***************************************************************** SECTION POPULAR */
.popular {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 40px;
  background: #d9d9d9;
  align-items: center;
  flex-basis: 32%;
}
/* .popular__title ==> TITRE */
.popular__title__icon {
  color: #0065fc;
}
.popular__body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 15px;
}
.card-popular {
  background: #ffffff;
  box-shadow: 8px 8px 15px rgb(214, 214, 214);
  border-radius: 20px;
  padding: 5px;

  flex-basis: 100%;
}
.card-popular__click {
  display: flex;
}
.card-popular__head {
  border-radius: 15px 0px 0px 15px;
  object-fit: cover;
  flex-basis: 30%;
  max-width: 30%;
  height: 145px;
  min-height: 145px;
}
.card-popular__body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  flex-basis: 60%;
}
/* .card-popular__body__place ==> TITRE */
/* .card-popular__body__price ==> TITRE */
.card-popular__body__stars {
  margin-top: auto;
}
/* .star + star--full ==> STARS  */
/***************************************************************** SECTION ACTIVITIES */
.activities {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
/* .activities__title */
.activities__body {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.card-activity {
  background: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 15px rgb(214, 214, 214);
  flex-basis: 23%;
  /* BONUS */
  transition: 1s;
}
.card-activity__img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 380px;
  object-fit: cover;
}
/* .card-activity__place ==> TITRE */
/* BONUS */
.card-activity:hover {
  opacity: 0.5;
  scale: 1.1;
}
/***************************************************************** FOOTER */
.footer {
  background: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-basis: 33%;
}
.footer-liens {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}
/* .footer-liens__title ==> TITRE */
.footer-liens__list {
  list-style: none;
  padding: 0px;
}
.footer-liens__list__item {
  margin-bottom: 5px;
}
/***************************************************************** STARS  */
.icon--white {
  color: #ffffff;
}
.star {
  color: #f2f2f2;
}
.star--full {
  color: #0065fc;
}

/* -----------------------------------------------------------
 RESPONSIVE 992 
 -------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  .accommodation {
    flex-direction: column;
    margin-bottom: 0;
    gap: 20px;
  }
  .popular__body {
    gap: 10px;
  }
  .card-popular {
    flex-basis: 30%;
    flex-grow: 1;
  }
  .card-activity__img {
    height: 220px;
  }
}
/* -----------------------------------------------------------
 RESPONSIVE 768 
 -------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .header {
    flex-direction: column;
    margin: 20px 0;
  }
  .header__nav {
    width: 100%;
    height: 70px;
  }
  .nav-main__menu {
    justify-content: space-between;
    padding: 0;
  }
  .nav-main__menu__item {
    flex-basis: 50%;
    border: none;
    border-bottom: 3px solid #ffffff;
  }
  .nav-main__menu__item:hover {
    border: none;
    border-bottom: 3px solid #0065fc;
  }
  .search {
    padding: 0 20px;
  }
  .search__form__input {
    max-width: none;
  }
  .filtres__list {
    justify-content: center;
  }
  .filtres__list-item {
    justify-content: start;
    flex-basis: 30%;
    flex-grow: 1;
  }
  .accommodation {
    flex-direction: column-reverse;
  }
  .results {
    margin: 0;
    background: none;
  }
  .card-results {
    flex-basis: 100%;
  }
  .results__footer {
    display: none;
  }
  .popular {
    margin: 0;
    border-radius: 0;
  }
  .card-popular {
    flex-basis: 100%;
  }
  .activities {
    padding: 20px;
  }
  .activities__body {
    flex-direction: column;
  }
  .card-activity {
    margin-bottom: 20px;
  }
  .card-activity__img {
    height: 120px;
  }
  .footer {
    flex-direction: column;
  }

  .search__btn--desktop {
    display: none;
  }
  .search__btn--phone {
    display: inline-block !important;
  }
}
